<footer class="footer">
  <div class="container border-top">
    <div class="row">
      <div class="col">
        <span class="text-muted">
          © 2021 Airbnb, Inc. · Privacy · Terms · Sitemap
        </span>
      </div>
      <div class="col d-flex justify-content-end flex-wrap">
        <div>
          <pre class="tab"><i class="fas fa-globe"></i> English(US)   <i class="fas fa-euro-sign"></i> EUR</pre>
        </div>
        <div class="ml-3">
          <i class="fab fa-facebook-f mx-2"></i>
          <i class="fab fa-twitter mx-2"></i>
          <i class="fab fa-instagram mx-2"></i>
        </div>
      </div>
    </div>
  </div>
</footer>
