  <div class="experience-card-booking">
    <h5>Choose a date!</h5>
      <%= simple_form_for [@user, @experience, @booking] do |f| %>
      <div class="form-group">
        <%= f.input :date, as: :string, placeholder: 'May 7, 2021', required: false, input_html: {class: "datepicker"}, label: false %>
      </div>
      <div class="flex mt-3">
        <%= f.submit class: 'btn btn-flat' %>
      </div>
    <% end %>
  </div>
                                