<div class="border-top d-flex flex-wrap">
  <% @experiences.each do |experience| %>
    <%= link_to experience_path(experience), class:'text-decoration-none' do %>
      <div class="card-experience m-2">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-experience-infos d-flex flex-column">
          <div>
            <h6 class="text-muted">ONLINE EXPERIENCE</h6>
            <h2><%= experience.title %></h2>
            <p><%= experience.description.first(50) %>...</p>
          </div>
          <div class="mt-2">
            <h2 class="card-experience-pricing">From € <%= experience.price %> / person</h2>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>



