<% @experiences.each do |experience| %>

  <div class="card-experience m-2">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <div class="card-experience-infos">
      <div>
        <h2><%= experience.title %></h2>
        <h6 class="text-muted">ONLINE EXPERIENCE</h6>
        <p><%= experience.description.first(50) %>...</p>
      </div>
      <h2 class="card-experience-pricing">From € <%= experience.price %> / person</h2>
    </div>
  </div>

<% end %>

