.banner {
  color: black;
  // height: 440px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #fac6bf;
}

.banner-dash {
  background-size: cover;
  background-position: center;
  padding: 80px 0;
}

.banner-dash h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner-dash p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
