.btn-flat {
    color: white;
    padding: 8px 24px;
    border-radius: 10px;
    background: $color-coral;
    // transition: width 0.4s ease-in-out;
    transition: background 0.3s ease;
}

.btn-cancel {
    color: white;
    padding: 8px 24px;
    border-radius: 4px;
    background: #6a757e;
    transition: background 0.3s ease;
}
