.card-link {
  text-decoration: none;
  color: gray;
  font-weight: lighter;
}

.card-link:hover {
  color: black;
}

.card-experience {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  height: 400px;
  width: 300px;
  border-radius: 30px 30px 0px 0px;
  position: relative;
}

.card-experience-infos {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  height: 110px;
  width: 300px;
  border-radius: 0px 0px 30px 30px;
}

.card-info {
  height: 70px
}

.card-experience-infos h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-experience-infos p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-experience-infos .card-experience-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-banner-image {
  height: 190px;
  width: 150px;
  border-radius: 25px;
  margin: 4px;
}

.card-banner-image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 25px;
}

.card-booking {
  width: 250px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 10px;
}

